html{
  font-family: Arial;
  

}

div{
  width: 200px;
  height: 70px;
  
  float: left;
  margin-right: 10px;
  position: relative;
}

.btn{
  position:relative;
  float: center;
}

